body{
    color:mediumvioletred;
    background-color: rgb(176, 234, 255);
}
.heading{
    width:80%;
    font-size: 24px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color:palevioletred
}
#camera,#result{
    border: 2px dashed black;
    width:350px;
    height:300px

}
h1{
    background-color: pink;
    font-size: 100px;
}
